body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    color: rgb(124, 19, 19);
  }
  h1 {
    text-align: center;

  }
  p {
    margin-top: 20px;
    text-align: center;
  }
 
  button{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 4em;
    border: none;
    background: none;
    color: rgb(89, 4, 83);
    cursor: pointer;
}
  